/* loading.css */
#map-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px; 
}

.loading-bar {
    width: 80px; 
    height: 10px;
    background: #ccc;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

.loading-bar::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #555;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

.logo {
    width: 200px; 
}
