{% extends "shared.html" %}
{% load static %}
{% block content %}
    <div class="flex justify-center items-center h-screen">
        <div class="flex flex-col justify-center items-center">
            <h1 class="text-pink-600 font-bold text-5xl">ToEat</h1>
            <br>
            <h4 class="text-xl mb-4">管理健康的好友！</h4>
            <p class="italic font-light">Health is better than wealth.</p>
            <div class="flex">
                <button class="bg-pink-300 text-white px-8 py-4 rounded-full mt-8 mr-4 hover:bg-blue-200 hover:text-black" onclick="location.href='{% url 'users:login' %}'">登入</button>
                <button class="bg-pink-300 text-white px-8 py-4 rounded-full mt-8 hover:bg-blue-200 hover:text-black" onclick="location.href='{% url 'users:register' %}'">註冊</button>
            </div>
        </div>
        <div class="hidden lg:block">
            <img src="{% static 'img/healthy.png' %}" class="w-full lg:max-w-lg">
        </div>
    </div>
{% endblock %}