{% load static %}
<div x-data="{ openMenu : false }">
    {% if user.is_authenticated %}
    <header class="fixed top-0 z-20 w-full bg-white shadow-lg">
        <div class="flex items-center justify-between h-16  mx-auto md:flex md:justify-between md:items-center">
            <div class="items-center flex-shrink-0">
                    <a href="{% url 'users:home' %}">
            </div>
            <div>
                <ul class="hidden md:flex md:items-center">
                    <li class="px-2">
                    </li>
                    <li class="px-2">
                    </li>
                    <li class="px-2">
                    </li>
                    
                    <li class="px-2">
                    </li>
                    <li class="px-2">
                    </li>

                </ul>
            </div>
            <div class="md:hidden">
                <button type="button" class="inline-flex items-center justify-center p-2 text-blue-800 rounded-md hover:bg-blue-200 hover:text-white md:hidden" aria-controls="mobile-menu" aria-expanded="false" @click="openMenu = !openMenu">
                    <span class="sr-only">Open menu</span>
                    <i class="fa-solid fa-bars block w-6 h-6"></i>
                </button>
            </div>
        </div>
        <!-- 漢堡按鈕選單內容 -->
        <nav class="md:hidden" aria-label="Global" id="mobile-menu" :hidden='!openMenu' md:hidden>
            <div class="px-2 pt-2 pb-3 space-y-1">
                    <a href="" class="block px-3 py-2 text-base font-medium text-gray-500 rounded-md hover:bg-gray-700 hover:text-white"></a>
                    <form
                    action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <button class="block w-full px-3 py-2 text-base font-medium text-left text-gray-500 rounded-md hover:bg-gray-700 hover:text-white">登出</button>
                    </form>
            </div>
        </nav>
    </header>
    {% else %}
        <header class="fixed top-0 w-full bg-white shadow-lg">
            <div class="flex items-center justify-between h-16  mx-auto md:flex md:justify-between md:items-center">
                <!-- logo -->
                <div class="items-center flex-shrink-0">
                    <a href=""><img src="" class="inline h-10"></a>
                </div>
    
                <div>
                    <ul class="hidden md:flex md:items-center">
                        <li class="px-1">
                            <a href="" class="px-2 py-1 text-lg text-blue-800"></a>
                        </li>
                    </ul>
                </div>
                <div class="md:hidden">
                    <button type="button" class="inline-flex items-center justify-center p-2 text-blue-800 rounded-md hover:bg-blue-200 hover:text-white md:hidden" aria-controls="mobile-menu" aria-expanded="false" @click="openMenu = !openMenu">
                        <span class="sr-only">Open menu</span>
                        <i class="fa-solid fa-bars block w-6 h-6"></i>
                    </button>
                </div>
            </div>
            <!-- 漢堡按鈕選單內容 -->
            <nav class="lg:hidden" aria-label="Global" id="mobile-menu" :hidden='!openMenu' md:hidden>
            <div class="px-2 pt-2 pb-3 space-y-1">
                <a href="{% url 'users:login' %}" class="block px-3 py-2 text-base font-medium text-gray-500 rounded-md hover:bg-gray-700 hover:text-white">登入</a>
            </div>
            </nav>
        </header>
    {% endif %}
</div>