{% extends "shared.html" %}
{% load static %}
{% block content %}
<div class="max-w-5xl mx-auto bg-gray-100 flex flex-col lg:flex-row items-stretch shadow-lg">
    <nav class="bg-gray-200 p-4 flex flex-col justify-center lg:w-1/5">
        <ul class="flex flex-col space-y-4 text-gray-800 text-center">
            <li><a href="{% url 'users:home'%}" class="hover:text-blue-500 text-lg font-semibold">使用者首頁</a></li>
            <li><a href="{% url 'users:data'%}" class="hover:text-blue-500 text-lg font-semibold">個人資料</a></li>
            <li><a href="{% url 'todos:create'%}" class="hover:text-blue-500 text-lg font-semibold">飲食紀錄</a></li>
            <li><a href="{% url 'todos:list'%}" class="hover:text-blue-500 text-lg font-semibold">查看飲食</a></li>
            <li><a href="{% url 'events:view' %}" class="hover:text-blue-500 text-lg font-semibold">飲食行事曆</a></li>
        </ul>
    </nav>
    <div class="flex-grow p-6">
        <div id='calendar-container'></div>
        <img src="{% static 'img/logo.png' %}" class="w-40 mr-2">
    </div>
</div>
<style>
    .fc-event {
        border-width: 5px;
        border-color: #c2d1f4;
        border-radius: 10px;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let calendarEl = document.getElementById('calendar-container');
        let calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridWeek',
            locale: 'zh-cn',
            height: 600,
            eventContent: function(arg) {
                return {
                    html: '<div style="white-space: nowrap; margin-bottom: 20px;">' +
                        arg.event.title.split('\n').join('<br>') +
                        '</div>'
                };
            },
            events: [
                {% for todo in todos %}
                {
                    title: "{{ todo.food }}\n{{ todo.get_type_display }}\n{{ todo.get_hungry_display}}",
                    start: "{{ todo.date|date:"Y-m-d" }}",
                    textColor: 'black',
                    backgroundColor: '#66CCCC',
                },
                {% endfor %}
            ],
            editable: true,
        });
        calendar.render();
    });
</script>
{% endblock %}
