{% extends 'shared.html' %}

{% block content %}
<div class="max-w-xl mx-auto shadow-lg">
    <nav class="bg-blue-500 p-4">
        <ul class="flex space-x-4 text-white">
            <li><a href="{% url 'users:data'%}">個人資料</a></li>
            <li><a href="{% url 'todos:create'%}">飲食紀錄</a></li>
            <li><a href="{% url 'todos:list'%}">查看飲食</a></li>
            <li><a href="{% url 'events:view' %}">飲食行事曆</a></li>
        </ul>
    </nav>

    <div class="container mx-auto mt-8">
        <div class="text-center">
            <h1 class="text-2xl font-bold mb-4">歡迎回來，{{ request.user }}</h1>

            <form method="post" action="{% url 'users:logout'%}" class="inline">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded">登出</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
